.panel{
    border: 1px solid black;
    height: 250px;
    width:250px ;
}
#left_panel{
    background-color: aqua;
    display: inline-block ; 
}
#content_panel{
    background-color: chartreuse;
    display: inline-block ; 
}
#right_panel{
    background-color: coral;
    display: inline-block; 
}